body {
	background-color:#eaeaea;
}

.main-contents {
	height: 100%;
	width: 80%;
	margin: 0 auto;
}

.header {
	text-align: center;
	margin: auto;
	padding: 2%;
}

h1 {
	padding: 10px 0px 10px 0px; /* 上 右 下 左 */;
	margin: 0 auto;
}

.linkArea {
	margin: 0;
	padding: 10px 0px 10px 0px; /* 上 右 下 左 */;
	border-bottom: solid 2px #000000;
}

.searchArea {
	border-top: solid 3px #000000;
	border-bottom: solid 3px #000000;
	padding: 10px 0px 10px 0px; /* 上 右 下 左 */;
}

.message {
	border-top: solid 2px #000000;
	border-right: solid 2px #000000;
	border-bottom: solid 2px #000000;
	border-left: solid 2px #000000;
	padding: 2%;
	margin: %;
}

textarea {
	width: 100%;
}

p {
	font-size: 1.8em;
	padding: px 0px 0px 0px; /* 上 右 下 左 */;
	margin: 0px 0px 0px 0px; /* 上 右 下 左 */
}

p1 {
	font-size: 0.8em;
	color: #000000;
}

.mText {
	padding: px px 0px 0px; /* 上 右 下 左 */;
	margin: 10px 0px 10px 0px; /* 上 右 下 左 */
	white-space: pre-line;
}

.mSet {
	border-left: dotted 2px #000000;
	padding: 1px 0px 1px 5px; /* 上 右 下 左 */;
	margin: 0px 0px 0px 15px; /* 上 右 下 左 */
}

.mCreated_at {
	margin: 10px;
	padding: 10px;
}

.comment {
	border-bottom: solid 1px #000000;
	border-left: solid 1px #000000;
	padding: 2%;
	margin: 3px 2px 35px 70px; /* 上 右 下 左 */
}

.cText {
	border-top: solid 2px #000000;
	border-bottom: dashed 1px #000000;
	padding: 10px 5px 0px 5px; /* 上 右 下 左 */;
	white-space: pre-line;

}

.cName {
	border-left: dotted 1px #000000;
	padding: 1px 0px 1px 5px; /* 上 右 下 左 */;
	margin: 3px 0px 10px 10px; /* 上 右 下 左 */
}

.cTime {
	padding: 0.5% 2% 0.5% 2%; /* 上 右 下 左 */
}

form {
	margin: 0px 0px 0px 1px; /* 上 右 下 左 */
}

input {
	margin: 5px 0px 5px 0px; /* 上 右 下 左 */
}

select {
	padding: px 0px 0px 0px; /* 上 右 下 左 */;
	margin: 10px 0px 10px 1px; /* 上 右 下 左 */
}

pre {
	padding: px px 0px 0px; /* 上 右 下 左 */;
	margin: 15px 15px 15px 15px; /* 上 右 下 左 */
	font-size: 20px;
}

.errorMessage {
	text-align:;
}

.copyright {
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 0px 10px; /* 上 右 下 左 */;
	border-top: solid 1px #000000;
}

.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
}
/*
user一覧のテーブル設定
*/

table.userList {
	width: 100%;
	border-collapse: collapse;
	font-size: 100%;
	margin: auto;
}

table.userList caption {
	padding-bottom: 10px;
}

table.userList th, table.userList td {
	width: 20%;
	padding: 6px 8px;
}

table.userList thead th {
	text-align: center;
	border-bottom: 2px #909090 solid;
	text-align: center;
	border-bottom: 2px #909090 solid;
}

table.userList tfoot td {
	text-align: center;
	border-top: 1px #909090 solid;
}

table.userList tbody td {
	text-align: center;
	border-bottom: 1px #909090 dotted;
}